<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/profile.css">
    <script defer src="/scripts/profile.js"></script>
    <title>Auth App 2</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/signup">Signup</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Auth App 2</h1>
        <div>
            <h2>Profile</h2>
        </div>
    </main>
</body>
</html>